button{
    display: inline-block;
    padding: 10px 14px;
    margin-right: 17px;
    border-radius: 5px;
    background-color: blue;
    align-items: center;    
    justify-content: center;
}
button:hover{
    background-color: rgb(85, 196, 106);
}
.btn{
    color: #fff;
    text-decoration: none;
    font-size: larger;
}
.btn:hover{
    color: rgb(5, 36, 37);
}